body {
    color:#333;
    /*フォントｆ */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    /* 背景色 */
    background-color:pink;
    /* 親要素で右揃えにする */
    text-align: right;
    padding: 10px;
    background-image: url(../img/header.png);
    height: 240px;
    /* 縦横比を保持したまま、なるべく大きく画像を表示する。 */
    background-size: cover;
    /* 画像の中央を起点にサイズを変えて欲しい */
    background-position: 50％ 50％;
}

/* header内のみ限定させる */
header ul {
    margin: 0;
    /* リスとの黒丸を削除する */
    list-style-type: none;
    /* padding(余白)をゼロにする */
    padding-left: 0;
}

header li {
    /* 左に詰めていく配位にする */
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
}

/* header 内にあるすべての li 要素の直下にある a 要素、 */
header li > a {
    /* リンクの下線を削除する */
    text-decoration: none;
    /* 親要素の設定を引き継ぐ */
    color: inherit;
}

/* 擬似クラス */
header li > a:hover {
    color: royalblue;
}

section {
    text-align: center;
}
